{% extends 'base.html' %}


{% block content %} 
<h1>About</h1>

<P>This is a basic web application that was built using flask. You can see the source code on my github, just click on the image below to have a look.
</P>

<p>This application is a basic ToDo list application that allows users to log in and create todo lists. It will perform basic CRUD operations that will allow users to create, update,
    read and delete their lists. Their is also  other functionality such as being able to register, login and update their information.
</p>
<!-- <img src="../static\Github.png" href="https://github.com/Shahbaz-mahmood123"> -->
{% endblock %}