{% extends 'base.html' %}

{% block content %} 
<h1>Home</h1>
{% for lists in lists.items%}
<article class="media content-section">
        <div class="media-body">
          <div class="article-metadata">
            <!-- <a class="mr-2" href="#">{{ lists.user_id }}</a> -->
            <small class="text-muted">{{ lists.date_created.strftime('%Y-%m-%d') }}</small>
          </div>
          <h2><a class="article-title" href="{{ url_for('lists.list', list_id= lists.listid) }}">{{ lists.title }}</a></h2>
          <p class="article-content">{{ lists.content }}</p>
        </div>
      </article>
{%endfor%}

{% for page_num in lists.iter_pages(left_edge=1, right_edge=1, left_current=1, right_current=2) %}
{% if page_num %}
  {% if lists.page == page_num %}
    <a class="btn btn-info mb-4" href="{{ url_for('main.home', page=page_num) }}">{{ page_num }}</a>
  {% else %}
    <a class="btn btn-outline-info mb-4" href="{{ url_for('main.home', page=page_num) }}">{{ page_num }}</a>
  {% endif %}
{% else %}
  ...
{% endif %}
{% endfor %}

{% endblock %}
<!-- <img class="rounded-circle article-img" src="{{url_for ('static', filename ='profile_pcitures/' + list.user.image_file)}}"> -->  
