{% extends 'base.html' %}

{% block content %}
<div class="container">
  <div class="row">
    <div class="col">
      <article class="media content-section">
        <div class="media-body">
          <h2 class="article-title">{{ lists.title }}</h2>
          <p class="article-content">{{ lists.content }}</p>
        </div>
      </article>
    </div>
    <div class="row">
      <div class="co">
        <article class="media content-section">
          <div class="media-body">
            <h2 class="article-title">{{ lists.title }}</h2>
            <p class="article-content">{{ lists.content }}</p>
          </div>
        </article>
      </div>
      <div class="row">
        <div class="col">
          <article class="media content-section">
            <div class="media-body">
              <h2 class="article-title">{{ lists.title }}</h2>
              <p class="article-content">{{ lists.content }}</p>
            </div>
          </article>
        </div>
  </div>
</div>
{% endblock %}